<a href="https://colab.research.google.com/github/k1hector159/REDES-NEURONALES/blob/JOSE-CONDORI/RENDICION_ACADEMICO_RN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***TRABAJO DE COMPUTACION EN LA NUBE***

PANDAS NOS SIRVE PARA PODER GESTIONAR BASE DE DATOS(CARGAR,MODIFICAR)

In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split

LA FUNCION READ_CSV ES PARA LEER NUESTROS DATASET

In [8]:
train=pd.read_csv('student.csv')

***NOS MOSTRARA LAS 5 PRIMERAS FILAS DEL***

In [9]:
train.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,pass
0,1,1,18,1,0,0,4,4,2,2,...,3,4,1,1,3,6,5,6,6,0
1,1,1,17,1,0,1,1,1,1,2,...,3,3,1,1,3,4,5,5,6,0
2,1,1,15,1,1,1,1,1,1,2,...,3,2,2,3,3,10,7,8,10,1
3,1,1,15,1,0,1,4,2,1,3,...,2,2,1,1,5,2,15,14,15,1
4,1,1,16,1,0,1,3,3,1,2,...,3,2,1,2,5,4,6,10,10,1

VERIFICAMOS QUE CAMPOS TIENEN VACIOS O NULL

In [10]:
train.isna().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
pass          0
dtype: int64

TOMAMOS LAS COLUMNAS QUE TIENEN MAS IMPORTACIA PARA LA RED NEURONAL

In [11]:
train=train[['sex','age','studytime','internet','absences','G1','G2','G3','pass']]
train.head()

   sex  age  studytime  internet  absences  G1  G2  G3  pass
0    1   18          2         0         6   5   6   6     0
1    1   17          2         1         4   5   5   6     0
2    1   15          2         1        10   7   8  10     1
3    1   15          3         1         2  15  14  15     1
4    1   16          2         0         4   6  10  10     1

DROPNA QUIERE DECIRM QUE ELIMINAREMOS TODOS LOS VACIOS O NULOS

DROPNA_DUPLICATES ELIMINAREMOS TODOS LOS DATOS DUPLICADOS

In [12]:
# Este elimina las filas que tengan algun nulo
train=train.dropna() 
#Luego eliminados los duplicados
train=train.drop_duplicates()
train

     sex  age  studytime  internet  absences  G1  G2  G3  pass
0      1   18          2         0         6   5   6   6     0
1      1   17          2         1         4   5   5   6     0
2      1   15          2         1        10   7   8  10     1
3      1   15          3         1         2  15  14  15     1
4      1   16          2         0         4   6  10  10     1
..   ...  ...        ...       ...       ...  ..  ..  ..   ...
390    0   20          2         0        11   9   9   9     0
391    0   17          1         1         3  14  16  16     1
392    0   21          1         0         3  10   8   7     0
393    0   18          1         1         0  11  12  10     1
394    0   19          1         1         5   8   9   9     0

[391 rows x 9 columns]

In [13]:
trainDatax=train[['sex','age','studytime','internet','absences','G1','G2','G3']]
trainDatay=train[['pass']]
print(trainDatay.head(),"\n", trainDatax.head())
train.head()

   pass
0     0
1     0
2     1
3     1
4     1
    sex  age  studytime  internet  absences  G1  G2  G3
0    1   18          2         0         6   5   6   6
1    1   17          2         1         4   5   5   6
2    1   15          2         1        10   7   8  10
3    1   15          3         1         2  15  14  15
4    1   16          2         0         4   6  10  10

   sex  age  studytime  internet  absences  G1  G2  G3  pass
0    1   18          2         0         6   5   6   6     0
1    1   17          2         1         4   5   5   6     0
2    1   15          2         1        10   7   8  10     1
3    1   15          3         1         2  15  14  15     1
4    1   16          2         0         4   6  10  10     1

Trabajamos las ausencias para
Facilitarnos encontrar patrones para RN

In [14]:
#colocamos los intervalos que son convenientes 
trainDatax['absences']=pd.cut(trainDatax['absences'],[0,15,30,45,60,75])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
trainDatax['G1']=pd.cut(trainDatax['G1'],[0,10,20])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
trainDatax['G2']=pd.cut(trainDatax['G2'],[0,10,20])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
trainDatax['G3']=pd.cut(trainDatax['G3'],[0,10,20])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
trainDatax.head()

   sex  age  studytime  internet absences        G1        G2        G3
0    1   18          2         0  (0, 15]   (0, 10]   (0, 10]   (0, 10]
1    1   17          2         1  (0, 15]   (0, 10]   (0, 10]   (0, 10]
2    1   15          2         1  (0, 15]   (0, 10]   (0, 10]   (0, 10]
3    1   15          3         1  (0, 15]  (10, 20]  (10, 20]  (10, 20]
4    1   16          2         0  (0, 15]   (0, 10]   (0, 10]   (0, 10]

In [19]:
#Categorizacion de los datos
from pandas.core.arrays import categorical
trainDatax.loc[:,'absences'],categoriaAbs=pd.factorize(trainDatax['absences'],sort=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [20]:
trainDatax.loc[:,'G1'],categoriaG1=pd.factorize(trainDatax['G1'],sort=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [21]:
trainDatax.loc[:,'G2'],categoriaG2=pd.factorize(trainDatax['G2'],sort=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [22]:
trainDatax.loc[:,'G3'],categoriaG3=pd.factorize(trainDatax['G3'],sort=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [23]:
trainDatax.head()

   sex  age  studytime  internet  absences  G1  G2  G3
0    1   18          2         0         0   0   0   0
1    1   17          2         1         0   0   0   0
2    1   15          2         1         0   0   0   0
3    1   15          3         1         0   1   1   1
4    1   16          2         0         0   0   0   0

In [24]:
#Normalizar los datos
from sklearn.preprocessing import StandardScaler

In [25]:
scaler=StandardScaler()
scaler.fit(trainDatax)
print(scaler.mean_)

[ 0.52429668 16.69309463  2.03580563  0.83120205 -0.18414322  0.51150895
  0.48081841  0.43478261]

In [26]:
trainDatax=scaler.fit_transform(trainDatax)
trainDatax

array([[ 0.95253193,  1.02377472, -0.04250198, ..., -1.02328902,
        -0.85516408, -0.6592119 ],
       [ 0.95253193,  0.24041676, -0.04250198, ..., -1.02328902,
        -0.85516408, -0.6592119 ],
       [ 0.95253193, -1.32629914, -0.04250198, ..., -1.02328902,
        -0.85516408, -0.6592119 ],
       ...,
       [-1.04983358,  3.37384857, -1.22952157, ..., -1.02328902,
        -0.85516408, -0.6592119 ],
       [-1.04983358,  1.02377472, -1.22952157, ...,  0.97724101,
         0.92339526, -0.6592119 ],
       [-1.04983358,  1.80713267, -1.22952157, ..., -1.02328902,
        -0.85516408, -0.6592119 ]])

In [27]:
from sklearn.decomposition import PCA

In [28]:
pca = PCA(n_components=8)
pca.fit(trainDatax)
print(pca.explained_variance_ratio_)

[0.325263   0.16361583 0.14283477 0.12956026 0.10641554 0.07891459
 0.03576244 0.01763356]

In [29]:
print(trainDatax, trainDatay)

[[ 0.95253193  1.02377472 -0.04250198 ... -1.02328902 -0.85516408
  -0.6592119 ]
 [ 0.95253193  0.24041676 -0.04250198 ... -1.02328902 -0.85516408
  -0.6592119 ]
 [ 0.95253193 -1.32629914 -0.04250198 ... -1.02328902 -0.85516408
  -0.6592119 ]
 ...
 [-1.04983358  3.37384857 -1.22952157 ... -1.02328902 -0.85516408
  -0.6592119 ]
 [-1.04983358  1.02377472 -1.22952157 ...  0.97724101  0.92339526
  -0.6592119 ]
 [-1.04983358  1.80713267 -1.22952157 ... -1.02328902 -0.85516408
  -0.6592119 ]]      pass
0       0
1       0
2       1
3       1
4       1
..    ...
390     0
391     1
392     0
393     1
394     0

[391 rows x 1 columns]