<a href="https://colab.research.google.com/github/k1hector159/REDES-NEURONALES/blob/LUIS-FERNANDO/RENDICION_ACADEMICO_RN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***TRABAJO DE COMPUTACION EN LA NUBE***

PANDAS NOS SIRVE PARA PODER GESTIONAR BASE DE DATOS(CARGAR,MODIFICAR)

In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split

LA FUNCION READ_CSV ES PARA LEER NUESTROS DATASET

In [24]:
train=pd.read_csv('/content/student-mat-pass-or-fail.csv')

***NOS MOSTRARA LAS 5 PRIMERAS FILAS DEL***

In [25]:
train.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,pass
0,1,1,18,1,0,0,4,4,2,2,...,3,4,1,1,3,6,5,6,6,0
1,1,1,17,1,0,1,1,1,1,2,...,3,3,1,1,3,4,5,5,6,0
2,1,1,15,1,1,1,1,1,1,2,...,3,2,2,3,3,10,7,8,10,1
3,1,1,15,1,0,1,4,2,1,3,...,2,2,1,1,5,2,15,14,15,1
4,1,1,16,1,0,1,3,3,1,2,...,3,2,1,2,5,4,6,10,10,1

VERIFICAMOS QUE CAMPOS TIENEN VACIOS O NULL

In [26]:
train.isna().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
pass          0
dtype: int64

TOMAMOS LAS COLUMNAS QUE TIENEN MAS IMPORTACIA PARA LA RED NEURONAL

In [27]:
train=train[['sex','age','studytime','internet','absences','G1','G2','G3','pass']]
train.head()

   sex  age  studytime  internet  absences  G1  G2  G3  pass
0    1   18          2         0         6   5   6   6     0
1    1   17          2         1         4   5   5   6     0
2    1   15          2         1        10   7   8  10     1
3    1   15          3         1         2  15  14  15     1
4    1   16          2         0         4   6  10  10     1

DROPNA QUIERE DECIRM QUE ELIMINAREMOS TODOS LOS VACIOS O NULOS

DROPNA_DUPLICATES ELIMINAREMOS TODOS LOS DATOS DUPLICADOS

In [28]:
# Este elimina las filas que tengan algun nulo
train=train.dropna() 
#Luego eliminados los duplicados
train=train.drop_duplicates()
train

     sex  age  studytime  internet  absences  G1  G2  G3  pass
0      1   18          2         0         6   5   6   6     0
1      1   17          2         1         4   5   5   6     0
2      1   15          2         1        10   7   8  10     1
3      1   15          3         1         2  15  14  15     1
4      1   16          2         0         4   6  10  10     1
..   ...  ...        ...       ...       ...  ..  ..  ..   ...
390    0   20          2         0        11   9   9   9     0
391    0   17          1         1         3  14  16  16     1
392    0   21          1         0         3  10   8   7     0
393    0   18          1         1         0  11  12  10     1
394    0   19          1         1         5   8   9   9     0

[391 rows x 9 columns]

Trabajamos las ausencias para Facilitarnos encontrar patrones para RN.

In [30]:
trainDatax=train[['sex','age','studytime','internet','absences','G1','G2','G3']]
trainDatay=train[['pass']]
print(trainDatay.head(),"\n", trainDatax.head())
train.head()

   pass
0     0
1     0
2     1
3     1
4     1
    sex  age  studytime  internet  absences  G1  G2  G3
0    1   18          2         0         6   5   6   6
1    1   17          2         1         4   5   5   6
2    1   15          2         1        10   7   8  10
3    1   15          3         1         2  15  14  15
4    1   16          2         0         4   6  10  10

   sex  age  studytime  internet  absences  G1  G2  G3  pass
0    1   18          2         0         6   5   6   6     0
1    1   17          2         1         4   5   5   6     0
2    1   15          2         1        10   7   8  10     1
3    1   15          3         1         2  15  14  15     1
4    1   16          2         0         4   6  10  10     1